body{
background: #efe5d7;    
}

.dino{
 width: 60px;
 height: 60px;
 background-image: url(/imagens/dino.png);
 position: absolute;
 bottom: 0; 
}

.cactos{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(/imagens/cactus.png);
}

.game-over{
    color: #ad0000;
    text-align: center;
    margin-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
}


@keyframes desert{
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

.fundo{
    position: absolute;
    bottom: 0px;
    background-image: url(/imagens/background.png);
    background-repeat: repeat-x;
    animation: desert 600s infinite linear;
    width: 100%;
    height: 200px;
}